
@media all and (max-width:1610px ) {
    .contact-form .centerdiv {
        margin: 0 64px;
    }
}
@media all and (max-width:1400px ) {
    .feadback-section .user-item {
        width: 50% !important;
    }
    .feadback-section .user-item h3 {
        text-align: left;
        margin-left: 79px;
    }
    .feadback-section .user-item h4 {
        text-align: left;
        margin-left: 79px;
    }
    .footer-top .f-button .button1 {
        width: 36% !important;
    }
    .contact-form .centerdiv {
        margin: 0 52px;
    }
}
@media all and (max-width:1200px ) {
    .slider-section {
        padding-top: 180px;
        padding-bottom: 180px;
    }
    .slider-section input.inputs {
        width: 300px;
    }
    .contact-us .container {
        width: 75% !important;
    }
    .contact-form .centerdiv {
        margin: 0 62px;
    }
    .contact-form .inputs {
        width: 48%;
    }
    
}
@media all and (max-width:992px) {
    .slider-section input.inputs {
        margin-bottom: 22px;
    }
    .feature2-section h1 {
        margin-top: 0px;
    }
    .slider-section input.inputs {
        width: 250px;
    }
    .slider-section button.buttons {
        width: 166px;
    }
    .theme-header h1 {
        font-size: 39px;
    }
    .theme-header p {
        font-size: 23px;
    }
    .feadback-section h2 {
        font-size: 21px;
    }
    .feadback-section h1 {
        font-size: 40px;
    }
    .team-section .team-header h1 {
        font-size: 32px;
    }
    .contact-form .centerdiv {
        margin: 0 54px;
    }
    .footer-top .f-button .button1 {
        width: 47% !important;
    }
    .footer-top .f-button a {
        font-size: 17px;
    }
    .footer-top .f-header p {
        font-size: 21px;
    }
    .footer-top .f-header h1 {
        font-size: 34px;
    }
}
@media all and (max-width: 768px) {
    .slider-section {
        padding-left: 0;
        padding-right: 0;
    }
    .slider-section h4 {
        font-size: 17px;
    }
    .slider-section h1 {
        font-size: 25px;
    }
    .slider-section input.inputs {
        width: 100%;
    }
    .slider-section button.buttons {
        float: none;
    }
    .slider-section button.buttons {
        width: 75%;
    }
    .feature2-section p {
        margin-bottom: 32px;
    }
    
    .theme-header h1 {
        font-size: 32px;
    }
    .theme-header p {
        font-size: 17px;
    }
    .pricing-section .xtp {
        margin-bottom: 33px;
    }
    .pricing-section .pricing-header h1 {
        font-size: 48px;
    }
    .pricing-section .pricing-header p {
        font-size: 18px;
    }
    .feadback-section h2 {
        font-size: 19px;
    }
    .feadback-section h1 {
        font-size: 34px;
    }
    .feadback-section p {
        font-size: 20px;
    }
    .team-header-item {
        margin-bottom: 25px;
    }
    .contact-form .centerdiv {
        margin: 0 42px;
    }
    .footer-top {
        width: 100% !important;
    }
    .footer-top .f-header p {
        font-size: 18px;
    }
    .footer-top .f-header h1 {
        font-size: 29px;
    }
    .footer-top .f-button .button1 {
        width: 59% !important;
        margin-bottom: 18px;
    }
    .footer-top .f-button .button1 {
        width: 46% !important;
        margin-bottom: 27px;
        display: block;
        margin-left: 130px;
    }
    
}
@media all and (max-width: 576px) {
    .slider-section {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .slider-section input.inputs {
        width: 80%;
        margin: auto;
        float: none;
    }
    .slider-section button.buttons {
        width: 50%;
        margin-top: 20px;
    }
    .feature2-section p {
        font-size: 15px;
        text-align: center;
    }
    .feature2-section h1 {
        font-size: 24px;
        text-align: center;
    }
    .contact-us .container {
        width: 100% !important;
        max-width: 100%;
    }
    .contact-form .centerdiv {
        margin: 0 45px;
    }
    .footer-top .f-button .button1 {
        width: 50% !important;
        margin: auto;
    }
    .footer-top .f-button a {
        margin: auto;
        margin-top: 15px;
    }
    
}
@media all and (max-width: 400px) {
    .contact-form .centerdiv {
        margin: 0 28px;
    }
}
